<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Not Found</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .centered {
            text-align: center;
            margin-top: 20%;
        }

        
    </style>
</head>
<body>
    <div class="container centered">
        <h2 class="mb-4">Patient Not Found</h2>
        <p>Please insert this identity as new patient before making the reservation.</p>
        <a href="/patients/create" class="btn btn-primary">Insert New Patient</a>
    </div>
</body>
</html>
